<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165252639756-e7ekg13ee761a0etmmkqm88u8hr8ht8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165252639756-e7ekg13ee761a0etmmkqm88u8hr8ht8h</string>
	<key>API_KEY</key>
	<string>AIzaSyB9GmCeMRqt8suD6qhyXd_LWBakupWP2X0</string>
	<key>GCM_SENDER_ID</key>
	<string>165252639756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mezcaldev.HotLikeMe</string>
	<key>PROJECT_ID</key>
	<string>project-6344486298585531617</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6344486298585531617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:165252639756:ios:a084069d3dcd79a7</string>
	<key>DATABASE_URL</key>
	<string>https://project-6344486298585531617.firebaseio.com</string>
</dict>
</plist>